{:paths ["scripts"]
 :min-bb-version "0.4.0"
 :deps {babashka/fs {:mvn/version "0.1.0"}
        borkdude/rewrite-edn {:mvn/version "0.1.0"}
        dev.nubank/docopt {:mvn/version "0.6.1-fix7"}}
 :tasks {new:post stasis.main/new-post
         del:post stasis.main/del-post
         new:page stasis.main/new-page
         del:page stasis.main/del-page
         new:tag stasis.main/new-tag
         del:tag stasis.main/del-tag}}
