{:deps     {:aliases [:dev :tests]}
 :dev-http {8000 "classpath:public"}
 :builds   {:tests       {:target           :browser-test
                          :test-dir         "resources/public/js/test"
                          :ns-regexp        "-test$"
                          ;; static required for mocking to work
                          :compiler-options {:static-fns false}
                          :devtools         {:http-port          8022
                                             :http-resource-root "public"
                                             :http-root          "resources/public/js/test"}}
            :ci-tests   {:target           :karma
                         :js-options       {:js-provider :shadow}
                         :compiler-options {:static-fns      false
                                            :external-config {:guardrails {:throw? true}}}
                         :output-to        "target/ci.js"
                         :ns-regexp        "-test$"}
            :main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"
                   :modules    {:main {:init-fn app.client/init
                                       :entries [app.client]}}
                   :devtools   {:after-load app.client/refresh
                                :preloads   [com.fulcrologic.fulcro.inspect.preload]}}}}
