{:author {:author/name "Author Name"
          :author/email "author@email.com"}

 :pages {"home"  {:page/name "Home"
                  :page/path "pages/index.md"}
         "about" {:page/name "About"
                  :page/path "pages/about.md"}}

 :posts {"post-1" {:post/time 1633043213778
                   :post/path "gfm-syntax.md"
                   :post/title "Post 1"
                   :post/tags [:a]}
         "post-2" {:post/time 1633043213779
                   :post/path "gfm-syntax.md"
                   :post/title "Post 2"
                   :post/tags [:a :b]}}

 :tags {:a {:tag/name "Tag A"
            :tag/slug "tag-a"}
        :b {:tag/name "Tag B"
            :tag/slug "tag-b"}}}
