html {
  font-size: 10px;
  font-family: 'JetBrains Mono', monospace;
}
body {
  color: #ffffff;
	padding: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  color: #c9c9c9;
}

a {
  cursor: pointer;
  margin-right: 10px;
}
section {
  margin-top: 32px;
  margin-bottom: 25px;
}
footer {
  font-size: 0.7em;
}
hr {
  background-color: #646464;
  border-color: #646464;
  color: #646464;
}
.inline {
  display: inline;
}
.post-title {
  font-size: 2.35em;
  margin-right: 5px;
}
.post-subtitle {
  font-size: 0.85em;
}
