html {
  font-size: 68%;
  font-family: 'JetBrains Mono', monospace;
}
body {
  color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  color: #c9c9c9;
}
button {
  overflow: visible;
  width: auto;
  margin: 2.5px;
}
a {
  cursor: pointer;
  margin-right: 10px;
}
section {
  margin-top: 32px;
  margin-bottom: 25px;
}
footer {
  font-size: 0.7em;
}
hr {
  background-color: #646464;
  border-color: #646464;
  color: #646464;
}
.inline {
  display: inline;
}
.post-title {
  font-size: 2.35em;
  margin-right: 5px;
}
.post-subtitle {
  font-size: 0.85em;
}
.float-right {
  float: right;
}
@media (max-width: 320px) {
  .float-right {
    float: none;
    display: block;
    text-align: center;
  }
}
