{:pages {"home"  {:page/name "Home"
                  :page/path "pages/index.md"}
         "about" {:page/name "About"
                  :page/path "pages/about.md"}}

 :authors {1 {:author/name "Author Name"
              :author/email "author@email.com"}}

 :tags {:a {:tag/name "Tag A"}
        :b {:tag/name "Tag B"}}

 :posts {"post-1" {:post/timestamp 1633043213778
                   :post/path "gfm-syntax.md"
                   :post/title "Post 1"
                   :post/description "Post 1 is about things and some stuff..."
                   :post/tags #{:a}
                   :author/id 1}
         "post-2" {:post/timestamp 1633043213779
                   :post/path "gfm-syntax.md"
                   :post/title "Post 2"
                   :post/description "Post 2 is about things and some stuff..."
                   :post/tags #{:a :b}
                   :author/id 1}}}
